.form-container{
    display: flex;
    width: auto;
    height: 100%;
    gap: 20px;
    justify-content: center;
}

.task-input{
    width: 100%;
    font-size: 1em;
}

.submitBtn{
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1em!important;
    text-transform: uppercase;
}

.list-cont{
    display: flex;
    width: 100%;
    gap: 10px;
    flex-direction: column;
}

.item-cont{
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: auto 120px 120px;
}

.item-field{
    padding: 0 20px;
    border-radius: 8px;
    background-color: aliceblue;
}

.item-field>h3{
    font-size: 1rem;
    font-weight: 500;
    font-family: sans-serif;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.9);
}

.done-btn{
    background-color: greenyellow!important;
}

.delete-btn{
    color: #fff;
    background-color: red!important;
}

.strike{
    text-decoration: line-through;
}

.non-striked{
    text-decoration: none;
}

@media screen and (max-width: 640px) {
    .item-cont{
        display: grid;
        width: 100%;
        gap: 10px;
        grid-template-columns: auto 80px 80px;
    }
}